body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

 /* #game-name {
  align-content: center;
 } */
 
 #fish-bowl-img {
  width: 100%;
  margin: auto;
}

#intro-text {
  margin: 5% 10%;
}

i {
  font-size: 125%;
}

#modal1 {
  background-color: #2196f3;
  color: white;
}

#modal1 h5 {
  margin-top: 3%;
}

.modal-footer {
  padding: 2 6;
}

#center-input {
  margin-left: 25%;
}

#modal2 {
  background-color: #2196f3;
  color: white;
}

#modal2 h5 {
  margin-top: 3%;
}

#game-counter {
  margin: 0;
}

#word-phrase-box {
  margin: 0;
}


#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

 /* ******** MEDIA QUERIES ******** */
/* @media screen and (max-width: 980px) {
  .container {
    max-width: 980px;
  }
}


 @media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  

 }

 @media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
  
  
   nav {
    float: left; 
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  nav {
    float: left; 
  }
} */
