body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

#sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/* main {
  flex: 1 0 auto;
} */

 #game-name {
  align-content: center;
 }
 
 #fish-bowl-img {
  width: 100%;
  margin: auto;
  border: 3px solid green;
  padding: 5px;
}
 /* ******** MEDIA QUERIES ******** */
@media screen and (max-width: 980px) {
  .container {
    max-width: 980px;
  }
}


 @media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  #fish-bowl-img {
    width: 50%;
  }

 }

 @media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }
  #fish-bowl-img {
    width: 50%;
  }
   nav {
    float: left; 
  }
}

<<<<<<< HEAD
 @media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
   nav {
    float: left; 
  }
} 
=======
@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  nav {
    float: left; 
  }
}
>>>>>>> 370eef6f091b33f59d74da03333ba11136d8cb7a
