
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
main {
  flex: 1 0 auto;
}

#game-name {
  align-content: center;

}

#fish-bowl-img {
  width: 75%;
  margin: auto;
  border: 3px solid green;
  padding: 5px;
}

/* ******** MEDIA QUERIES ******** */
@media screen and (max-width: 980px) {
  .container {
    max-width: 980px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  nav {
    float: left; 
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }

  nav {
    float: left; 
  }
}